/* ---------------------------------------------------------------
CSS Reset
--------------------------------------------------------------- */

/*
font-sizes: default - 1em, h3: 1.2em, h2: 1.4em, h1: 1.6em, line-height: 1.6 (always use line-height in the body and with a 'multiplier value' like mentioned above, and not percent/ems), margin: 0 auto, A good practice is to have the line-height as 1.5 times that of the font-size.<br>
Put css attributes in alphabetical order or any other order and stick to it.
Generally, it's a good idea to make the labels and inputs display as block level elements and then display:inline those that are meant to be used in a single line. Attribute selectors can help in this, much like input[type=checkbox] {display:inline}
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Always style links in this hierarchy: LVHAF = Love Hate and Fuck */

a:link {}

a:visited{}

a:hover {}

a:active{}

a:focus{}

:root {
  --Mustard: #ffc600;
  --Navy: #001f3f;
  --Blue: #0074D9;
  --Aqua: #7FDBFF;
  --Teal: #39CCCC;
  --Olive: #3D9970;
  --Green: #2ECC40;
  --Lime-Green: #01FF70;
  --Yellow: #FFDC00;
  --Orange: #FF851B;
  --Red: #FF4136;
  --Maroon: #85144B;
  --Fuchsia: #F012BE;
  --Purple: #B10DC9;
  --Black: #111111;
  --Grey: #AAAAAA;
  --Concrete: #95a5a6;
  --Asbestos: #7f8c8d;
  --Silver: #DDDDDD;
  --CloudWhite: #ecf0f1;
  --SunFlower: #f1c40f;
  --Alizarin: #e74c3c;
  --Pomegranate: #c0392b;
  --PeterRiver: #3498db;
  --BelizeHole: #2980b9;
  --MidnightBlue: #2c3e50;
  --WetAsphalt: #34495e;
  --Amethyst: #9b59b6;
  --Wisteria: #8e44ad;
}

/* ---------------------------------------------------------------
Main CSS Properties
--------------------------------------------------------------- */

/* The main container */
.container {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  display: grid;
}

/* Headings */
h1, h2, h3 {
  font-family: 'Merriweather', sans-serif;
  font-weight: 800;
}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

/* Specific sections */
.navBar {
  background-color: black;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 10px 30px;
  position: sticky;
  top: 0;
  z-index: 1; /* Specifically to offset the intro div */
}

  .navBar a {
    text-decoration: none;
    color: var(--Mustard);
  }

  .navBar #contact {
    color: white;
  }

#overlay {
  background-color: #000;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 300px;
  font-size: 1.4em;
}

#overlay a {
  display: block;
  text-decoration: none;
  color: var(--Mustard);
  margin-bottom: 20px;
}

#overlay a:hover, .navBar a:hover {
  color: #ecf0f1;
}

.heavy {
  font-weight: 800;
}

.light {
  font-size: 0.6em;
}

/* Navbar action button */
#menuIcon {
}

.navBar .menuIconBars {
  width: 25px;
  height: 3px;
  background-color: var(--Mustard);
  margin: 5px 0;
  transition: 0.3s;
}

/* Changes when Navbar menu button gets clicked */

.hide {
  display:none;
}

.show {
  display: flex;
}

#popup.show {
  display: block;
  position: absolute;
}

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  display: none;
}

.change .bar3 {
  transform: rotate(45deg) translate(0px, 3px);
}

#pageBelowNavbar.show{
  display:inherit;
}

/* Combined CSS for all the pitch sections */

.productPitchSection {
  align-content: space-around;
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  text-align: center;
  padding: 50px 10px 50px 10px;
}

/* The punchline */
.punchline {
  font-size: 4.5em;
  line-height: 1.2;
  font-style: italic;
  padding-top: 100px;
  padding-bottom: 100px;
}

/* The explanation for the punchline */
.explanation {
  font-size: 1.4em;
}

/* The Form */
.userInfo {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: center;
}

.inputMobileNumber {
  color: #000;
  font-size: 1.2em;
  margin: 10px 0px 10px 0px;
  padding: 10px;
  width: 200px;
}

.callToAction {
  background: var(--Mustard);
  border: none;
  color: #000;
  cursor: pointer;
  display: block;
  font-size: 1.2em;
  margin: 10px 0px 10px 0px;
  padding: 10px;
  text-decoration: none;
  width: 200px;
}

.callToAction:hover {
  background: #ddd;
  color: black;
}

/* Different sections */

#introduction {
  position: relative;
  overflow: hidden;
}

#introductoryVideo {
  position: absolute;
  z-index: -100;
  left: 50%;
  transform: translate(-50%, 0%);
  object-fit: cover;
  /* background: url(src/images/random-football.jpg) no-repeat; */
}

.videoText {
  color: white;
}

#popup {
  position: fixed;
  color: white;
  background-color: rgba(0, 0, 0, 0.5);
  border: 3px solid blue;
  display: none;
  top: 100px;
  left: 100px;
}

#methodology {
  background: url(../src/images/introduction-sample-image.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  align-content: space-around;
}

#team {
  background-image: url(../src/images/team-sample-image.png);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}

/* The Training Schedule and the Pricing Charts */
#trainingSchedule {
  background: url(../src/images/random-football.jpg);
  background-size: cover;
  padding-left: 0;
  padding-right: 0;
}

#trainingSchedule .punchline {
  font-size: 3em;
}

#trainingScehdule > * {
  flex-grow: 1;
}

#trainingSchedule .allPricingBlocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

#trainingSchedule .pricingBlock {
  min-width: 300px;
  max-width: 600px;
  padding: 30px 0px;
  color: white;
  flex-grow: 1;
}

#trainingSchedule .pricingIcon {
  background-color: var(--CloudWhite);
  opacity: 0.5;
  margin: 5px;
  display: inline-block;
  padding: 20px;
  font-size: 2em;
  border-radius: 50%;
}

#trainingSchedule .delimiter {
  font-weight: 800;
  background-color: var(--CloudWhite);
  opacity: 0.5;
  color: black;
  display: inline-block;
  padding: 2px;
}

#trainingSchedule .under8s {
  background-color: rgba(237, 77, 19, 0.75);
}

#trainingSchedule .under13s {
  background-color: rgba(0, 92, 90, 0.75);
}

#trainingSchedule .under16s {
  background-color: rgba(243, 113, 0, 0.75);
}

#news {
  background-color: var(--Maroon);
}

#footer {
  flex-direction: row;
  justify-content: space-around;
  background-color: var(--Black);
  color: var(--CloudWhite);
}

#footer a {
  text-decoration: none;
  color: var(--Mustard);
}

/* ---------------------------------------------------------------
Media Queries
---------------------------------------------------------------*/

/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

  #methodology, #team {
    padding: 200px;
  }

  #trainingSchedule .punchline {
    font-size: 4.5em;
  }

  .userInfo {
    width: 500px;
    justify-content: space-between;
  }

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {

}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {

}