/* ---------------------------------------------------------------
CSS Reset
--------------------------------------------------------------- */

/*
font-sizes: default - 1em, h3: 1.2em, h2: 1.4em, h1: 1.6em, line-height: 1.6 (always use line-height in the body and with a 'multiplier value' like mentioned above, and not percent/ems), margin: 0 auto, A good practice is to have the line-height as 1.5 times that of the font-size.<br>
Put css attributes in alphabetical order or any other order and stick to it.
Generally, it's a good idea to make the labels and inputs display as block level elements and then display:inline those that are meant to be used in a single line. Attribute selectors can help in this, much like input[type=checkbox] {display:inline}
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Always style links in this hierarchy: LVHAF = Love Hate and Fuck */

a:link {}

a:visited{}

a:hover {}

a:active{}

a:focus{}

:root {
  --Mustard: #ffc600;
  --Navy: #001f3f;
  --Blue: #0074D9;
  --Aqua: #7FDBFF;
  --Teal: #39CCCC;
  --Olive: #3D9970;
  --Green: #2ECC40;
  --Lime-Green: #01FF70;
  --Yellow: #FFDC00;
  --Orange: #FF851B;
  --Red: #FF4136;
  --Maroon: #85144B;
  --Fuchsia: #F012BE;
  --Purple: #B10DC9;
  --Black: #111111;
  --Grey: #AAAAAA;
  --Concrete: #95a5a6;
  --Asbestos: #7f8c8d;
  --Silver: #DDDDDD;
  --CloudWhite: #ecf0f1;
  --SunFlower: #f1c40f;
  --Alizarin: #e74c3c;
  --Pomegranate: #c0392b;
  --PeterRiver: #3498db;
  --BelizeHole: #2980b9;
  --MidnightBlue: #2c3e50;
  --WetAsphalt: #34495e;
  --Amethyst: #9b59b6;
  --Wisteria: #8e44ad;
}

/* ---------------------------------------------------------------
Main CSS Properties
--------------------------------------------------------------- */
/* The main container */
.container {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  display: grid;
  background-color: var(--MidnightBlue);
  color: white;
}

/* Headings */
h1, h2, h3 {
  font-family: 'Merriweather', sans-serif;
  font-weight: 800;
  margin-top: 10px;
  margin-bottom: 10px;

}

h1 {
  font-size: 1.6em;
}

h2 {
  font-size: 1.4em;
}

h3 {
  font-size: 1.2em;
}

/* The punchline */
.punchline {
  font-size: 3.5em;
  line-height: 1.2;
  font-style: italic;
  word-wrap: wrap;
}

/* Specific sections */
.navBar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: black;
    position: sticky;
    top: 0;
    padding: 10px 30px;
  }

  .navBar a {
    text-decoration: none;
    color: var(--Mustard);
  }

  .navBar #contact {
    color: white;
  }

#overlay {
  background-color: #000;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  padding-bottom: 150px;
  width: 100%;
  font-size: 1.4em;
}

#overlay a {
  display: block;
  text-decoration: none;
  color: var(--Mustard);
  margin-bottom: 20px;
  /* padding: 3px; */
}

#overlay a:hover, .navBar a:hover {
  color: #ecf0f1;
}

.heavy {
  font-weight: 800;
}

.light {
  font-size: 0.6em;
}

/* Navbar action button */
#menuIcon {
}

.navBar .menuIconBars {
  width: 25px;
  height: 3px;
  background-color: var(--Mustard);
  margin: 5px 0;
  transition: 0.3s;
}

/* Changes when Navbar menu button gets clicked */

.hide {
  display:none;
  /* visibility: visible; */
}

.show {
  display: flex;
  /* visibility: visible; */
}

.change .bar1 {
  transform: rotate(-45deg) translate(-9px, 6px);
}

.change .bar2 {
  display: none;
}

.change .bar3 {
  transform: rotate(45deg) translate(0px, 3px);
}

#pageBelowNavbar.show{
  display:inherit;
}

#pageBelowNavbar {
    padding: 10%;
}

#footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  background-color: var(--Black);
  color: var(--CloudWhite);
  padding: 50px 10px 50px 10px;
}

#footer a {
  text-decoration: none;
  color: var(--Mustard);
}

/* Page Specific styles */
.teamMember {
  display: flex;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-wrap: wrap;
  flex-direction: row;
}

.teamMemberImage {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  margin-left: 10px;
  margin-right: 10px;
}

.teamMemberText {

}

/* ---------------------------------------------------------------
Media Queries
---------------------------------------------------------------*/


/* Small devices (tablets, 768px and up) */
@media (min-width: 768px) {

}

/* Medium devices (desktops, 992px and up) */
@media (min-width: 992px) {


}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}